<!-- index.erb -->
<ul>
  <% @files.sort.each do |file| %>
    <li>
      <span><a href="/<%= file %>"><%= file %></a></span>
      <span><a href="<%= file %>/edit">Edit</a></span>
      <span>
        <form class="button" method="post" action="/<%= file %>/duplicate">
          <button type="submit">duplicate</button>
        </form>
      </span>
      <span>
        <form class="button" method="post" action="/<%= file %>/delete">
          <button type="submit">delete</button>
        </form>
      </span>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>

<br /><br />

<% if user? %>
  <form method="post" action="/users/signout">
    <em>Signed in as <%= session['user'] %>.</em>
    <button type="submit">Sign Out</button>
  </form>
<% else %>
  <form method="get" action="/users/signin">
    <button type="submit">Sign In</button>
  </form>
<% end %>
