<!-- index.erb -->
<ul>
  <% documents.sort.each do |document| %>
    <li>
      <span><a href="/<%= document %>"><%= document %></a></span>
      <span>
        <form class="button" method="get" action="<%= document %>/edit">
          <button type="submit">Edit</button>
        </form>
      </span>
      <span>
        <form class="button" method="post" action="/<%= document %>/duplicate">
          <button type="submit">Duplicate</button>
        </form>
      </span>
      <span>
        <form class="button" method="post" action="/<%= document %>/delete">
          <button type="submit">Delete</button>
        </form>
      </span>
      <span>
        <form class="button" method="get" action="/<%= document %>/versions">
          <button>Versions</button>
        </form>
      </span>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>
<br />
<a href="/images">Images</a>

<br /><br />

<% if user? %>
  <form method="post" action="/users/signout">
    <em>Signed in as <%= session['user'] %>.</em>
    <button type="submit">Sign Out</button>
  </form>

  <form class="delete" method="post" action="/users/delete">
    <button type="submit">Delete This User</button>
  </form>
<% else %>
  <form method="get" action="/users/signin">
    <button type="submit">Sign In</button>
  </form>
<% end %>
